<nav class="row">

    <ul class="col d-flex justify-content-center">
        <li class="mr-3">
            <h2><a href ="{% url 'ice_cream:selection' 'daily' %}">Daily</a></h2>
        </li>
        <li class="mr-3">
            <h2><a href ="{% url 'ice_cream:selection' 'weekly' %}">Weekly</a></h2>
        </li>
        <li class="mr-3">
            <h2><a href ="{% url 'ice_cream:selection' 'seasonal' %}">Seasonal</a></h2>
        </li>
        <li>
            <h2>Featured</h2>
        </li>
    </ul>
</nav>